body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

hr{
    width: 500px;
}

#title{
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board{
    width: 350px;
    height: 420px;
    color: white;
    margin: 0 auto;
    margin-top: 3px;
    display: flex ;
    flex-wrap: wrap;
}

.tile{
    border: 2px solid gray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct{
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present{
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent{
    background-color: gray;
    color: white;
    border-color: white;
}

.key {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    height: 3cm; /* Adjust the height as needed */
    width: 3cm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
}

/* Create a flex container for each row */
#keyR1, #keyR2, #keyR3 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 100%;
    margin-bottom: 20px;   
    margin-top: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    
}